<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="p-3 mb-2 bg-info">
        <div class="container mt-0">
            <table class="table">
                <thead>
                    <tr class="table p-3 mb-2 bg-primary text-white text-warning">
                        <th><h2>First Name</h2></th>
                        <th><h2>Last Name</h2></th>
                        <th><h2>Full Name</h2></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in user_names %}
                    <tr class="text-dark">
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.first_name}} {{ user.last_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>