<!doctype html>
<html lang="en">
    <head>
    <title>User CR</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>All Users</h1>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="table bg-primary text-white text-warning">
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for every_user in users %}
                    <tr">
                        <td>{{ every_user['id'] }}</td>
                        <td>{{ every_user['first_name'] }} {{ every_user['last_name']}}</td>
                        <td>{{ every_user['email'] }}</td>
                        <td>{{ every_user['created_at'].strftime('%B %d, %Y') }}</td>
                        <td>
                            <a href="/user/show/{{every_user.id}}" class="btn btn-primary">Show</a>
                            <a href="/user/edit/{{every_user.id}}" class="btn btn-success">Edit</a>
                            <a href="/user/delete/{{every_user.id}}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/create" class="btn btn-warning">Add a New User</a>
        </div>
    </body>
</html>